html{
  background:#fff
  font-family:  ‘Lato’,‘Arial’, sans-serif;       /* police de caractère */
  font-weight : 300;                              /* épaisseur de la police */
  font-size: 20px;                                /* taille de la police */
  color: #555;                                    /* couleur de la police */
  text-rendering: optimizeLegibility;             /*  /// Voir PDF */
  text-align: center;
}
header{

  background-image: linear-gradient(rgba(25, 127, 40, 0.7), rgba(49, 255, 81, 0.7)), url(img/systeme solaire.jpg); /* Ajout background et filtre */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
h1{
max-width: 1140px;
text-align: center;

}
